@{
    ViewBag.Title = "Note";
	List<IPortfolio.Model.NoteModel> modelList = (List<IPortfolio.Model.NoteModel>)ViewBag.NoteList;
}

<ol class="breadcrumb mtFixed">
    <li><a href="~/">Home</a></li>
    <li><a href="@Url.Action("Index","Note")">Note</a></li>
    <li class="active">Note List</li>
</ol>

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-left">
                <span class="glyphicon glyphicon-list"></span>
                <span>Note List</span>
            </div>
            
            <div class="pull-right">
                <a href="@Url.Action("Index", "Note")" class="btn btn-sm btn-default">
                    <span class="glyphicon glyphicon-refresh"></span>
                    <span>Refresh</span>
                </a>
                <a href="@Url.Action("Add", "Note")" class="btn btn-sm btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>Add</span>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="panel-body" style="overflow-y: scroll;">
            <table id="table1" class="table table-striped">
                <thead>
					<tr>
						<th>#</th>
						<th>ProjectID</th>
						<th>TaskID</th>
						<th>Note</th>
						<th>CreatedBy</th>
						<th>CreatedTime</th>
						<th>...</th>
					</tr>
                </thead>
                <tbody>
                    @foreach (var item in modelList)
                    {
                    <tr>
						<td>@item.NoteID</td>
						<td>@item.ProjectID</td>
						<td>@item.TaskID</td>
						<td>@item.Note</td>
						<td>@item.CreatedBy</td>
						<td>@item.CreatedTime</td>

                        <td>
                            <a href="@Url.Action("Modify","Note", new { noteID = @item.NoteID })" class="text-warning" title="Modify">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>&nbsp;
                            <a href="javascript:void(0)" onclick="DeleteConfirmYes('@Url.Action("Delete","Note", new { noteID = @item.NoteID })')" class="text-danger" title="Delete">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {

<!-- DataTables -->
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#table1').DataTable();
    });
</script>

}
