@{
    ViewBag.Title = "Modify Audit";

    IPortfolio.Model.AuditModel item = ViewBag.AuditModel;
}

<ol class="breadcrumb mtFixed">
    <li><a href="~/">Home</a></li>
    <li><a href="@Url.Action("Index","Audit")">Audit</a></li>
    <li class="active">Modify Audit</li>
</ol>

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-modal-window"></span>
            <span>Modify Audit</span>
        </div>
        <div class="panel-body">
            <form id="form1">
				<input type="hidden" name="AuditID" value="@item.AuditID">

				<div class="form-group">
					<label>ProjectID</label>
					<input type="text" class="form-control" name="ProjectID" placeholder="Please input ProjectID" value="@item.ProjectID">
				</div>
				<div class="form-group">
					<label>Status</label>
					<input type="text" class="form-control" name="Status" placeholder="Please input Status" value="@item.Status">
				</div>
				<div class="form-group">
					<label>DueDate</label>
					<input type="text" class="form-control" name="DueDate" placeholder="Please input DueDate" value="@item.DueDate">
				</div>
				<div class="form-group">
					<label>Auditor</label>
					<input type="text" class="form-control" name="Auditor" placeholder="Please input Auditor" value="@item.Auditor">
				</div>
				<div class="form-group">
					<label>CreatedTime</label>
					<input type="text" class="form-control" name="CreatedTime" placeholder="Please input CreatedTime" value="@item.CreatedTime">
				</div>

				<a href="@Url.Action("Modify", "Audit", new { auditID = @item.AuditID })" class="btn btn-default">
                    <span class="glyphicon glyphicon-refresh"></span>
                    <span>Refresh</span>
                </a>
                <button type="button" class="btn btn-primary" onclick="SubmitFormAsync('@Url.Action("Update", "Audit")', 'form1')">Submit</button>
				<a href="@Url.Action("Index", "Audit")" class="btn btn-default">
                    <span class="glyphicon glyphicon-share"></span>
                    <span>Back</span>
                </a>
            </form>
        </div>
    </div>
</div>