@{
    ViewBag.Title = "Modify Organization";

    IPortfolio.Model.OrganizationModel item = ViewBag.OrganizationModel;
}

<ol class="breadcrumb mtFixed">
    <li><a href="~/">Home</a></li>
    <li><a href="@Url.Action("Index","Organization")">Organization</a></li>
    <li class="active">Modify Organization</li>
</ol>

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-modal-window"></span>
            <span>Modify Organization</span>
        </div>
        <div class="panel-body">
            <form id="form1">
				<input type="hidden" name="OrgID" value="@item.OrgID">

				<div class="form-group">
					<label>Organization</label>
					<input type="text" class="form-control" name="Organization" placeholder="Please input Organization" value="@item.Organization">
				</div>

				<a href="@Url.Action("Modify", "Organization", new { orgID = @item.OrgID })" class="btn btn-default">
                    <span class="glyphicon glyphicon-refresh"></span>
                    <span>Refresh</span>
                </a>
                <button type="button" class="btn btn-primary" onclick="SubmitFormAsync('@Url.Action("Update", "Organization")', 'form1')">Submit</button>
				<a href="@Url.Action("Index", "Organization")" class="btn btn-default">
                    <span class="glyphicon glyphicon-share"></span>
                    <span>Back</span>
                </a>
            </form>
        </div>
    </div>
</div>