@{
    ViewBag.Title = "New Project";

	List<IPortfolio.Model.OrganizationModel> orgList = ViewBag.OrgList;
	List<IPortfolio.Model.ProjectPropertyModel> projectPropertyList = ViewBag.ProjectPropertyList;
}

<ol class="breadcrumb mtFixed">
    <li><a href="~/">Home</a></li>
    <li><a href="@Url.Action("MyProject","Project")">Project</a></li>
    <li class="active">New Project</li>
</ol>

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-modal-window"></span>
            <span>Add Project</span>
        </div>
        <div class="panel-body">
			<form id="form1">
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label>OrgID</label>
							<span class="label label-danger">*</span>
							<select name="OrgID" class="form-control">
								@if (orgList != null)
								{
									foreach (var item in orgList)
									{
										<option value="@item.OrgID">@item.Organization</option>
									}
								}
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>ProjectName</label>
							<span class="label label-danger">*</span>
							<input type="text" class="form-control" name="ProjectName" placeholder="Please input ProjectName">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Tag</label>
							<input type="text" class="form-control" name="Tag" placeholder="Please input Tag">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>ARSNo</label>
							<input type="text" class="form-control" name="ARSNo" placeholder="Please input ARSNo">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>StartDate</label>
							<input type="text" class="form-control" name="StartDate" placeholder="Please input StartDate">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>DueDate</label>
							<input type="text" class="form-control" name="DueDate" placeholder="Please input DueDate">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>CloseDate</label>
							<input type="text" class="form-control" name="CloseDate" placeholder="Please input CloseDate">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>PlanGoLiveDate</label>
							<input type="text" class="form-control" name="PlanGoLiveDate" placeholder="Please input PlanGoLiveDate">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>CostCenter</label>
							<input type="text" class="form-control" name="CostCenter" placeholder="Please input CostCenter">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Workcell</label>
							<input type="text" class="form-control" name="Workcell" placeholder="Please input Workcell">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Department</label>
							<input type="text" class="form-control" name="Department" placeholder="Please input Department">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Quarter</label>
							<input type="text" class="form-control" name="Quarter" placeholder="Please input Quarter">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>FunctionGroup</label>
							<input type="text" class="form-control" name="FunctionGroup" placeholder="Please input FunctionGroup">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>PM</label>
							<input type="text" class="form-control" name="PM" placeholder="Please input PM">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>SME</label>
							<input type="text" class="form-control" name="SME" placeholder="Please input SME">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Sponsor</label>
							<input type="text" class="form-control" name="Sponsor" placeholder="Please input Sponsor">
						</div>
					</div>

					<div class="col-md-3">
						<div class="form-group">
							<label>Saving</label>
							<input type="text" class="form-control" name="Saving" placeholder="Please input Saving">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>EstimatedTime</label>
							<input type="text" class="form-control" name="EstimatedTime" placeholder="Please input EstimatedTime">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>InternalBudget</label>
							<input type="text" class="form-control" name="InternalBudget" placeholder="Please input InternalBudget">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>ExternalBudget</label>
							<input type="text" class="form-control" name="ExternalBudget" placeholder="Please input ExternalBudget">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>ROI</label>
							<input type="text" class="form-control" name="ROI" placeholder="Please input ROI">
						</div>
					</div>

					<div class="col-md-3">
						<div class="form-group">
							<label>ActualTime</label>
							<input type="text" class="form-control" name="ActualTime" placeholder="Please input ActualTime">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>ActualInternalCost</label>
							<input type="text" class="form-control" name="ActualInternalCost" placeholder="Please input ActualInternalCost">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>ActualExternalCost</label>
							<input type="text" class="form-control" name="ActualExternalCost" placeholder="Please input ActualExternalCost">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>ActualSaving</label>
							<input type="text" class="form-control" name="ActualSaving" placeholder="Please input ActualSaving">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Type</label>
							<select class="form-control" name="Type">
								<option value="0">== Select ==</option>
								@if (projectPropertyList != null)
								{
									foreach (var item in projectPropertyList)
									{
										if (item.PropertyType.ToLower() == "type")
										{
											<option vlaue="@item.PropertyKey">@item.PropertyValue</option>
										}
									}
								}
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Source</label>
							<select class="form-control" name="Source">
								<option value="0">== Select ==</option>
								@if (projectPropertyList != null)
								{
									foreach (var item in projectPropertyList)
									{
										if (item.PropertyType.ToLower() == "source")
										{
											<option vlaue="@item.PropertyKey">@item.PropertyValue</option>
										}
									}
								}
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Scope</label>
							<select class="form-control" name="Scope">
								<option value="0">== Select ==</option>
								@if (projectPropertyList != null)
								{
									foreach (var item in projectPropertyList)
									{
										if (item.PropertyType.ToLower() == "scope")
										{
											<option vlaue="@item.PropertyKey">@item.PropertyValue</option>
										}
									}
								}
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>IsMajor</label>
							<select class="form-control" name="IsMajor">
								<option value="0">== Select ==</option>
								@if (projectPropertyList != null)
								{
									foreach (var item in projectPropertyList)
									{
										if (item.PropertyType.ToLower() == "source")
										{
											<option vlaue="@item.PropertyKey">@item.PropertyValue</option>
										}
									}
								}
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Phase</label>
							<select class="form-control" name="Phase">
								<option value="0">== Select ==</option>
								@if (projectPropertyList != null)
								{
									foreach (var item in projectPropertyList)
									{
										if (item.PropertyType.ToLower() == "phase")
										{
											<option vlaue="@item.PropertyKey">@item.PropertyValue</option>
										}
									}
								}
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Status</label>
							<select class="form-control" name="Status">
								<option value="0">== Select ==</option>
								@*@if (projectPropertyList != null)
								{
									foreach (var item in projectPropertyList)
									{
										if (item.PropertyType.ToLower() == "status")
										{
											<option vlaue="@item.PropertyKey">@item.PropertyValue</option>
										}
									}
								}*@
							</select>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label>Description</label>
							<textarea class="form-control" name="Description" rows="3"></textarea>
						</div>
					</div>
				</div>	
			</form>
        </div>
		<div class="panel-footer">
			<button type="button" class="btn btn-primary" onclick="SubmitFormAsync('@Url.Action("Insert", "Project")', 'form1')">Submit</button>
			<a href="@Url.Action("MyProject", "Project")" class="btn btn-default">
				<span class="glyphicon glyphicon-share"></span>
				<span>Back</span>
			</a>
		</div>
    </div>
</div>
