@{
    ViewBag.Title = "AuditItem";
	List<IPortfolio.Model.AuditItemModel> modelList = (List<IPortfolio.Model.AuditItemModel>)ViewBag.AuditItemList;
}

<ol class="breadcrumb mtFixed">
    <li><a href="~/">Home</a></li>
    <li><a href="@Url.Action("Index","AuditItem")">AuditItem</a></li>
    <li class="active">AuditItem List</li>
</ol>

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-left">
                <span class="glyphicon glyphicon-list"></span>
                <span>AuditItem List</span>
            </div>
            
            <div class="pull-right">
                <a href="@Url.Action("Index", "AuditItem")" class="btn btn-sm btn-default">
                    <span class="glyphicon glyphicon-refresh"></span>
                    <span>Refresh</span>
                </a>
                <a href="@Url.Action("Add", "AuditItem")" class="btn btn-sm btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>Add</span>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="panel-body" style="overflow-y: scroll;">
            <table id="table1" class="table table-striped">
                <thead>
					<tr>
						<th>#</th>
						<th>AuditID</th>
						<th>AuditRuleID</th>
						<th>Status</th>
						<th>Evidence</th>
						<th>Comments</th>
						<th>...</th>
					</tr>
                </thead>
                <tbody>
                    @foreach (var item in modelList)
                    {
                    <tr>
						<td>@item.ItemID</td>
						<td>@item.AuditID</td>
						<td>@item.AuditRuleID</td>
						<td>@item.Status</td>
						<td>@item.Evidence</td>
						<td>@item.Comments</td>

                        <td>
                            <a href="@Url.Action("Modify","AuditItem", new { itemID = @item.ItemID })" class="text-warning" title="Modify">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>&nbsp;
                            <a href="javascript:void(0)" onclick="DeleteConfirmYes('@Url.Action("Delete","AuditItem", new { itemID = @item.ItemID })')" class="text-danger" title="Delete">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {

<!-- DataTables -->
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#table1').DataTable();
    });
</script>

}
