<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IPortfolio</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Content/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/site.css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/common.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("IPortfolio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Organization", "Index", "Organization")</li>
                    <li>@Html.ActionLink("Org User", "Index", "OrgUser")</li>
                    <li>@Html.ActionLink("Project", "Index", "Project")</li>
                    <li>@Html.ActionLink("Project Property", "Index", "ProjectProperty")</li>
                    <li>@Html.ActionLink("Audit", "Index", "Audit")</li>
                    <li>@Html.ActionLink("Audit Item", "Index", "AuditItem")</li>
                    <li>@Html.ActionLink("Note", "Index", "Note")</li>
                    <li>@Html.ActionLink("Spending", "Index", "Spending")</li>
                    <li>@Html.ActionLink("Status", "Index", "Status")</li>
                    <li>@Html.ActionLink("Task", "Index", "Task")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
